.page{
  background: url("../asserts/Home.png") no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  }
  
  .item {
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding: 20px;
    border-radius: 16px;
    background-color: rgb(255,255,255,0.8);
  }
  
  .item:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: none;
  }
  
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: auto;
    border-radius: 50%;
    position: relative;
    top: -8vh;
    overflow: hidden;
    z-index: 1;
    border: solid 1px  black;
  }
  
  .image {
    object-fit: cover;
  }
  
  .textContainer {
    margin-top: 10px;
  }
  
  .name {
    text-align: center;
  }
  