.land{
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
  }
  
  .head {
    text-align: center;
    margin-top: 2rem;
  }
  
  .head h1 {
    font-size: 3rem;
    font-weight: bold;
    color: black;
    font-family: 'Gladiola';
  }
  .head h2 {
    font-size: 3rem;
    font-weight: bold;
    color: black;
  }
  
  .login {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .login button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .login button:hover {
    background-color: #8de6e7;
  }
  .b1{
    background-color: #0f6a6b;
  }
  .b2{
    background-color: #8de6e7;
  }
  