.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #badfd7;
    position: fixed;
    width: 100vw;
  z-index: 9;
  }
  
  .head {
    font-size: 1.5rem;
    color: #333;
      margin: 10px 10px 10px 10px;
  }
  
  .page {
    display: flex;
    align-items: center;
      font-family: sans-serif;
  }
  
  .page a {
    margin-left: 1rem;
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }

  
  .user {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-family: sans-serif;
  }
  
  .user a {
    margin-left: 1rem;
      font-weight: bold;
  }

  .head {
    font-size: 20px;
    background-color: #85cabb;
    border-radius: 30px 30px 30px 30px;
    padding: 15px;
    font-family: 'Gladiola';
    font-style: italic;
    font-weight: 1000;
    text-shadow: 1px 1px #ec7647;
    margin-top: 10px;
    
}
.head h{
    color: white;
}
.page a:hover{
  background-color: #0f6a6b;
  color: white;
}
.page a{
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
}
.logoutBtn{
  padding: 10px 20px;
    background-color: #85cabb;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-family: sans-serif;
    font-weight: bold;
}
 .logoutBtn button:hover {
  background-color: #8de6e7;
}

  
  