.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #badfd7;
    height: max-content;
    overflow-y: hidden;
    position: fixed;
    width: 189vh;
  }
  
  .head {
    font-size: 1.5rem;
    color: #333;
  }
  
  .page {
    display: flex;
    align-items: center;
  }
  
  .page a {
    margin-left: 1rem;
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  .page a:hover {
    color: #0070f3;
  }
  
  .user {
    display: flex;
    align-items: center;
  }
  
  .user a {
    margin-left: 1rem;
    text-decoration: none;
  }
  
  .user a:hover {
    color: #0070f3;
  }
  .head {
    font-size: 20px;
    background-color: #85cabb;
    border-radius: 30px 30px 30px 30px;
    padding: 15px;
    font-family: 'Gladiola';
    font-style: italic;
    font-weight: 1000;
    text-shadow: 1px 1px #ec7647;
    margin-top: 10px;
    
}
.head h{
    color: white;
}
  
  
  